/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 11, ../scss/style.scss */
.clearfix {
  position: relative;
  zoom: 1;
}
/* line 14, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 18, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 27, ../scss/style.scss */
body {
  color: #49474d;
  font-family: "Open Sans", Helvetica, serif;
}
/* line 30, ../scss/style.scss */
body p {
  margin: 0px;
}

/* line 35, ../scss/style.scss */
h1, h2, h3, h4 {
  font-family: "Charter Bold", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 40, ../scss/style.scss */
h2 {
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
}

/* line 46, ../scss/style.scss */
.panel {
  z-index: 11000;
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/
}

/* line 53, ../scss/style.scss */
.push {
  position: relative;
}

/* line 57, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* line 62, ../scss/style.scss */
#menu {
  background-color: #ccc;
}

/* line 67, ../scss/style.scss */
.newsearch .tftextinput {
  margin: 0px;
  padding: 5px 15px;
  border: 1px solid #d9d9da;
  border-right: 0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  width: 120px;
}
/* line 75, ../scss/style.scss */
.newsearch .tfbutton {
  margin: 0px;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d9d9da;
  border-right: 0px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  font-size: 1em;
  height: 32px;
  vertical-align: top;
}

/* line 94, ../scss/style.scss */
header, .headertexture {
  background-image: url("../img/headerbg.png");
  height: 70px;
  position: relative;
  margin-bottom: 5px;
}
/* line 100, ../scss/style.scss */
header a, .headertexture a {
  text-decoration: none;
}
/* line 104, ../scss/style.scss */
header a:hover, .headertexture a:hover {
  color: #7d3927;
}
/* line 108, ../scss/style.scss */
header .menu-link, .headertexture .menu-link {
  background-color: #1e1d1d;
  color: white;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  left: 15px;
}
/* line 117, ../scss/style.scss */
header .prose, header .expungement, .headertexture .prose, .headertexture .expungement {
  padding: 5px;
  background-color: #e98300;
  color: white;
}
/* line 123, ../scss/style.scss */
header .expungement, .headertexture .expungement {
  position: absolute;
  right: 10px;
  width: 15%;
  text-align: center;
  font-size: 0.7em;
  top: 10px;
}
/* line 132, ../scss/style.scss */
header .prose, .headertexture .prose {
  position: absolute;
  right: 125px;
  width: 15%;
  text-align: center;
  font-size: 0.7em;
  top: 10px;
}

/* line 144, ../scss/style.scss */
nav a {
  text-decoration: none;
  color: #49474d;
  display: block;
}
/* line 149, ../scss/style.scss */
nav ul {
  list-style: none;
  padding: 0px;
}
/* line 153, ../scss/style.scss */
nav li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}
/* line 158, ../scss/style.scss */
nav li:hover {
  background-color: #7d3927;
}
/* line 161, ../scss/style.scss */
nav a:hover {
  color: white;
}

/* line 166, ../scss/style.scss */
h2 {
  padding: 10px 0px 10px 25px;
  margin-top: 30px;
}

/* line 171, ../scss/style.scss */
.header2 {
  max-width: 35%;
}
/* line 174, ../scss/style.scss */
.header2 img {
  width: 100%;
  margin-left: 10px;
}
/* line 178, ../scss/style.scss */
.header2 a {
  text-align: center;
  background: #d45b18;
  background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  background-image: -ms-linear-gradient(top, #d45b18, #be390d);
  background-image: -o-linear-gradient(top, #d45b18, #be390d);
  background-image: linear-gradient(to bottom, #d45b18, #be390d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  position: absolute;
  bottom: 4px;
  right: 10px;
}

/* Mobile Fatherhood*/
/* line 201, ../scss/style.scss */
.mainpic, .mainpicfamilies, .mainpicdonation {
  background: url(../img/fatherhood.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  margin-top: 5px;
  padding: 16% 0;
}
/* line 214, ../scss/style.scss */
.mainpic h1, .mainpicfamilies h1, .mainpicdonation h1 {
  text-align: center;
  color: white;
  width: 100%;
  margin: 0px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 223, ../scss/style.scss */
.mainpic p, .mainpicfamilies p, .mainpicdonation p {
  text-align: center;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 235, ../scss/style.scss */
.programservices p {
  margin-bottom: 10px;
}

/* line 240, ../scss/style.scss */
.greybox {
  background-color: #d9d9da;
  padding: 10px 20px 20px 20px;
}
/* line 243, ../scss/style.scss */
.greybox img {
  display: none;
}
/* line 247, ../scss/style.scss */
.greybox .tablet {
  display: none;
}
/* line 251, ../scss/style.scss */
.greybox ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 258, ../scss/style.scss */
.greybox a {
  text-decoration: none;
  color: #7d3927;
}
/* line 263, ../scss/style.scss */
.greybox h3 {
  font-weight: lighter;
  margin-bottom: 5px;
}
/* line 267, ../scss/style.scss */
.greybox p {
  margin: 0px;
}

/* line 273, ../scss/style.scss */
.resources p {
  margin: 0px 0px 15px 0px;
}
/* line 277, ../scss/style.scss */
.resources a {
  text-decoration: none;
  color: #7d3927;
}

/* line 283, ../scss/style.scss */
.findprogram {
  background-image: url("../img/programbg.png");
  padding: 25px 20px;
  margin-top: 30px;
}
/* line 284, ../scss/style.scss */
.findprogram h4 {
  color: white;
  margin: 0px 0px 6px 0px;
}

/* line 293, ../scss/style.scss */
.program-nav {
  padding: 5px 0px;
  margin: 0;
  border: 1px solid #d9d9da;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 98% 50%;
}
/* line 304, ../scss/style.scss */
.program-nav select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* line 316, ../scss/style.scss */
.program-nav select:focus {
  outline: none;
}
/* line 320, ../scss/style.scss */
.program-nav a {
  color: white;
}

/* line 325, ../scss/style.scss */
.about {
  text-align: center;
  margin-top: 15px;
}

/* line 330, ../scss/style.scss */
.about2, .email2, .donate2 {
  display: none;
}

/* line 334, ../scss/style.scss */
.donate, .donate2 {
  padding-top: 30px;
  padding-bottom: 25px;
  margin: 0px 25px;
}
/* line 338, ../scss/style.scss */
.donate p, .donate2 p {
  display: none;
}
/* line 341, ../scss/style.scss */
.donate a, .donate2 a {
  text-align: center;
  background: #d45b18;
  background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  background-image: -ms-linear-gradient(top, #d45b18, #be390d);
  background-image: -o-linear-gradient(top, #d45b18, #be390d);
  background-image: linear-gradient(to bottom, #d45b18, #be390d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  display: block;
}

/* line 359, ../scss/style.scss */
.email, .email2 {
  margin: 0px 25px;
}
/* line 362, ../scss/style.scss */
.email .emailbutton, .email2 .emailbutton {
  background: #f3a139;
  background-image: -webkit-linear-gradient(top, #f3a139, #d48218);
  background-image: -moz-linear-gradient(top, #f3a139, #d48218);
  background-image: -ms-linear-gradient(top, #f3a139, #d48218);
  background-image: -o-linear-gradient(top, #f3a139, #d48218);
  background-image: linear-gradient(to bottom, #f3a139, #d48218);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
  width: 200px;
  margin-right: 20px;
}
/* line 380, ../scss/style.scss */
.email .fb, .email .twitter, .email2 .fb, .email2 .twitter {
  display: inline-block;
  width: 45px;
  vertical-align: top;
}
/* line 386, ../scss/style.scss */
.email .fb, .email2 .fb {
  margin-right: 10px;
}
/* line 390, ../scss/style.scss */
.email img, .email2 img {
  width: 100%;
}

/* line 396, ../scss/style.scss */
.address {
  display: inline-block;
  margin: 0px 25px;
}
/* line 399, ../scss/style.scss */
.address ul {
  list-style: none;
  padding: 0px;
}

/* line 405, ../scss/style.scss */
.footer-nav {
  display: inline-block;
  margin-left: 30px;
}
/* line 408, ../scss/style.scss */
.footer-nav li {
  padding: 0px;
  border-bottom: none;
}

/* line 414, ../scss/style.scss */
.legal {
  margin: 0px 25px;
  margin-top: 15px;
}
/* line 417, ../scss/style.scss */
.legal p {
  margin-bottom: 10px;
  font-size: 0.7em;
}

/***** mobile donation page ************/
/**********************************/
/* line 429, ../scss/style.scss */
.headertexture {
  height: 30px;
  margin-bottom: 0px;
}

/* line 433, ../scss/style.scss */
.mainpicdonation {
  background: url("../img/donate.jpg");
  margin-top: 0px;
  background-size: cover;
}
/* line 437, ../scss/style.scss */
.mainpicdonation p {
  font-size: 1.5em;
}

/* line 443, ../scss/style.scss */
.pageinfo p {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 450, ../scss/style.scss */
.donation input {
  width: 95%;
  margin: 5px 0px;
}
/* line 454, ../scss/style.scss */
.donation .dollarsign {
  display: inline-block;
}

/* line 460, ../scss/style.scss */
select {
  width: 100%;
  margin: 5px 0px;
}

/* line 465, ../scss/style.scss */
input {
  width: 100%;
  margin: 5px 0px;
  height: 20px;
}

/* line 471, ../scss/style.scss */
input[type="radio"] {
  width: 5%;
  margin: 5px 0px 0px 20px;
}

/* line 477, ../scss/style.scss */
form p {
  margin-top: 10px;
}
/* line 481, ../scss/style.scss */
form .exp {
  width: 75%;
}

/* line 487, ../scss/style.scss */
.checks p:first-child {
  margin-top: 20px;
}
/* line 491, ../scss/style.scss */
.checks ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

/* line 499, ../scss/style.scss */
.ty a {
  color: #7d3927;
  text-decoration: none;
}
/* line 504, ../scss/style.scss */
.ty p {
  margin-bottom: 30px;
}

/* line 509, ../scss/style.scss */
.submit {
  background: #d45b18;
  background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  background-image: -ms-linear-gradient(top, #d45b18, #be390d);
  background-image: -o-linear-gradient(top, #d45b18, #be390d);
  background-image: linear-gradient(to bottom, #d45b18, #be390d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 40px 40px 40px;
  border: none;
  margin-top: 30px;
}

/* line 527, ../scss/style.scss */
.payment br {
  display: none;
}

/* line 532, ../scss/style.scss */
.cd-hero {
  overflow: hidden;
}
/* line 535, ../scss/style.scss */
.cd-hero .cd-hero-slider {
  position: relative;
  width: 300%;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
  transition: left 0.5s;
}
/* line 544, ../scss/style.scss */
.cd-hero .cd-hero-slider.s1 {
  left: 0;
}
/* line 548, ../scss/style.scss */
.cd-hero .cd-hero-slider.s2 {
  left: -100%;
}
/* line 552, ../scss/style.scss */
.cd-hero .cd-hero-slider.s3 {
  left: -200%;
}
/* line 557, ../scss/style.scss */
.cd-hero li {
  width: 33.3333332%;
  background-position: center center;
  background-size: cover;
  float: left;
  position: relative;
}
/* line 564, ../scss/style.scss */
.cd-hero li div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  z-index: 10;
  width: 100%;
  margin: 16% auto;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 575, ../scss/style.scss */
.cd-hero li div h1 {
  margin: 0px;
  font-size: 2em;
}
/* line 582, ../scss/style.scss */
.cd-hero li img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 599, ../scss/style.scss */
.cd-hero .cd-slider-nav {
  height: 50px;
  background-color: #252525;
}
/* line 602, ../scss/style.scss */
.cd-hero .cd-slider-nav li {
  width: 5%;
  height: 29px;
  background-color: white;
}
/* line 606, ../scss/style.scss */
.cd-hero .cd-slider-nav li img {
  width: 100%;
}
/* line 611, ../scss/style.scss */
.cd-hero .cd-slider-nav nav ul {
  margin: 0 auto;
}

/** Mobile Fathers & Families **/
/* line 619, ../scss/style.scss */
.mainpicfamilies {
  background: url(../img/families.jpg);
}

/* line 623, ../scss/style.scss */
.difference {
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 627, ../scss/style.scss */
.parentingtag {
  margin-top: 10px;
}

/* line 631, ../scss/style.scss */
.parentingparagraph {
  margin-bottom: 20px;
}
/* line 633, ../scss/style.scss */
.parentingparagraph p {
  margin: 0px;
}

/**mobile for homepage**/
/* line 640, ../scss/style.scss */
.bluestatbox {
  background: url(../img/bluebox.jpg);
  padding: 40px 20px 95px 20px;
  position: relative;
  margin-top: 30px;
}
/* line 645, ../scss/style.scss */
.bluestatbox h2, .bluestatbox h3 {
  background: none;
  color: white;
  margin: 0px;
  padding: 0px;
}
/* line 651, ../scss/style.scss */
.bluestatbox a {
  text-align: center;
  background: #d45b18;
  background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  background-image: -ms-linear-gradient(top, #d45b18, #be390d);
  background-image: -o-linear-gradient(top, #d45b18, #be390d);
  background-image: linear-gradient(to bottom, #d45b18, #be390d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  position: absolute;
  right: 75px;
  bottom: 45px;
  text-transform: uppercase;
  font-size: 1em;
}
/* line 671, ../scss/style.scss */
.bluestatbox h3 {
  margin-top: 10px;
  text-transform: lowercase;
}
/* line 675, ../scss/style.scss */
.bluestatbox .number {
  display: inline-block;
  font-size: 1.5em;
}

/* line 682, ../scss/style.scss */
.news article {
  text-align: right;
  margin-top: 10px;
}

/* line 689, ../scss/style.scss */
.warren {
  text-align: center;
}
/* line 691, ../scss/style.scss */
.warren img {
  display: block;
  margin: 0 auto;
}
/* line 695, ../scss/style.scss */
.warren h4 {
  margin: 0px;
  margin-top: 10px;
}
/* line 700, ../scss/style.scss */
.warren .participant {
  margin-bottom: 10px;
  font-size: 1.10em;
}

/* line 705, ../scss/style.scss */
.quote {
  text-align: center;
  margin-top: 10px;
  font-size: 1.10em;
}

/* Tablet Fatherhood */
@media (min-width: 600px) {
  /* line 715, ../scss/style.scss */
  h2 {
    padding: 10px 0px 10px 45px;
  }

  /* line 719, ../scss/style.scss */
  .greybox img {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-right: 10px;
  }
  /* line 726, ../scss/style.scss */
  .greybox .mobileonly {
    display: none;
  }
  /* line 730, ../scss/style.scss */
  .greybox .tablet {
    display: block;
  }
  /* line 733, ../scss/style.scss */
  .greybox div {
    display: inline-block;
    width: 63%;
    margin-top: 25px;
  }
  /* line 739, ../scss/style.scss */
  .greybox h3 {
    margin: 0px;
  }

  /* line 744, ../scss/style.scss */
  header .prose, header .expungement {
    width: 10%;
  }

  /* line 748, ../scss/style.scss */
  .header2 {
    max-width: 25%;
  }
  /* line 750, ../scss/style.scss */
  .header2 a {
    padding: 15px 40px 15px 40px;
  }

  /* line 756, ../scss/style.scss */
  .mainpic p {
    margin: 0px 20px;
  }

  /* line 761, ../scss/style.scss */
  .findprogram {
    display: inline-block;
    width: 45%;
    border: 2px solid #d9d9da;
    border-left: none;
    padding: 45px 20px;
  }

  /* line 768, ../scss/style.scss */
  .donate {
    width: 45%;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    border: 2px solid #d9d9da;
    border-left: none;
    border-right: none;
    padding: 28px 12px 25px 12.2px;
  }
  /* line 776, ../scss/style.scss */
  .donate p {
    display: block;
    margin-bottom: 10px;
  }

  /* line 782, ../scss/style.scss */
  .about, .email {
    display: none;
  }

  /* line 786, ../scss/style.scss */
  .about2 {
    display: inline-block;
    border-right: 2px solid #d9d9da;
    border-bottom: 2px solid #d9d9da;
    padding: 20px;
    width: 45%;
    padding-top: 41px;
  }

  /* line 795, ../scss/style.scss */
  .email2 {
    display: block;
    width: 45%;
    float: right;
    margin: 0px;
    margin-right: 20px;
  }
  /* line 802, ../scss/style.scss */
  .email2 .fb, .email2 .twitter {
    width: 30px;
  }
  /* line 805, ../scss/style.scss */
  .email2 .emailbutton {
    padding: 7px 25px 7px 25px;
  }

  /* line 810, ../scss/style.scss */
  .contact {
    display: inline-block;
    font-size: 0.8em;
  }
  /* line 813, ../scss/style.scss */
  .contact .address {
    margin: 0px 20px;
  }

  /* line 818, ../scss/style.scss */
  .legal {
    border-right: 2px solid #d9d9da;
    display: inline-block;
    width: 45%;
    margin: 0px;
    padding: 10px 30px 10px 10px;
  }

  /* line 827, ../scss/style.scss */
  .donation p {
    display: inline-block;
  }
  /* line 830, ../scss/style.scss */
  .donation input {
    width: 10%;
  }
  /* line 833, ../scss/style.scss */
  .donation select {
    width: 43%;
  }

  /* line 839, ../scss/style.scss */
  .additionalinfo select {
    width: 43%;
  }

  /* line 844, ../scss/style.scss */
  .emailbar {
    width: 25%;
  }

  /* line 849, ../scss/style.scss */
  .payment select {
    width: 13%;
  }
  /* line 852, ../scss/style.scss */
  .payment input {
    width: 35%;
  }
  /* line 855, ../scss/style.scss */
  .payment br {
    display: block;
  }
  /* line 859, ../scss/style.scss */
  .payment .cv {
    width: 10%;
  }
  /* line 863, ../scss/style.scss */
  .payment .exp {
    width: 41%;
  }
  /* line 866, ../scss/style.scss */
  .payment .submit {
    margin: 30px auto;
    display: block;
    width: 60%;
  }
}
/* tablet homepage8*/
/* line 878, ../scss/style.scss */
.news img {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}
/* line 883, ../scss/style.scss */
.news .news1, .news .news2 {
  width: 46%;
  vertical-align: top;
}
/* line 886, ../scss/style.scss */
.news .news1 a, .news .news1 p, .news .news1 h3, .news .news2 a, .news .news2 p, .news .news2 h3 {
  font-size: 1em;
}
/* line 889, ../scss/style.scss */
.news .news1 h3, .news .news2 h3 {
  margin-bottom: 10px;
}
/* line 894, ../scss/style.scss */
.news .news1 {
  margin-right: 40px;
}
/* line 898, ../scss/style.scss */
.news .greybox {
  padding: 10px 20px 30px 20px;
}

/* line 904, ../scss/style.scss */
.warren, .quote {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

/* line 910, ../scss/style.scss */
.warren {
  margin-right: 40px;
}

/* desktop fatherhood */
@media (min-width: 900px) {
  /* line 918, ../scss/style.scss */
  .content {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
  }

  /* line 923, ../scss/style.scss */
  body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
  }

  /* line 928, ../scss/style.scss */
  .greybox {
    margin-bottom: 30px;
  }
  /* line 930, ../scss/style.scss */
  .greybox article {
    display: inline-block;
    width: 32.9%;
    vertical-align: top;
  }
  /* line 937, ../scss/style.scss */
  .greybox p, .greybox a, .greybox li {
    font-size: .8em;
  }

  /* line 942, ../scss/style.scss */
  .donate {
    display: none;
  }

  /* line 946, ../scss/style.scss */
  .donate2 {
    display: inline-block;
    width: 40%;
    margin: 0px;
    vertical-align: bottom;
    text-align: center;
    padding: 77px 61px 96px 28px;
    border: 2px solid #d9d9da;
    border-bottom: none;
    border-right: none;
  }
  /* line 956, ../scss/style.scss */
  .donate2 p {
    display: inline-block;
    font-size: 1.5em;
  }
  /* line 960, ../scss/style.scss */
  .donate2 a {
    margin-top: 30px;
    width: 36%;
    display: inline-block;
  }

  /* line 967, ../scss/style.scss */
  .findprogram {
    margin-top: 0px;
    border-top: none;
    border-bottom: none;
  }

  /* line 972, ../scss/style.scss */
  footer {
    position: relative;
    border-top: 2px solid #d9d9da;
  }

  /* line 977, ../scss/style.scss */
  .resourcesfooter {
    width: 49%;
    display: inline-block;
  }
  /* line 980, ../scss/style.scss */
  .resourcesfooter .texture {
    width: 101%;
    border-top: 2px solid #d9d9da;
  }
  /* line 984, ../scss/style.scss */
  .resourcesfooter h2 {
    margin-top: 0px;
  }

  /* line 988, ../scss/style.scss */
  .email2 {
    float: none;
    margin-right: -15px;
    margin-left: 0px;
    position: absolute;
    right: 48px;
    top: 109px;
  }

  /* line 997, ../scss/style.scss */
  .contact {
    float: none;
    position: absolute;
    right: 103px;
    top: 10px;
    margin: 0px;
  }

  /* line 1006, ../scss/style.scss */
  .about2 {
    display: block;
    border-right: none;
    border-top: 2px solid #d9d9da;
    padding-right: 100%;
    padding-bottom: 50px;
  }

  /* line 1014, ../scss/style.scss */
  .legal {
    border-right: none;
    float: none;
    position: absolute;
    right: 0px;
    bottom: 25px;
  }

  /* line 1023, ../scss/style.scss */
  .advertisement p {
    display: inline-block;
  }

  /* line 1027, ../scss/style.scss */
  input {
    width: 34%;
    margin: 5px 0px 10px 0px;
  }

  /* line 1032, ../scss/style.scss */
  .addressdonate {
    width: 37%;
    margin: 0px 4px 0px 0px;
  }

  /* line 1038, ../scss/style.scss */
  .donorinfo select {
    width: 15%;
  }
  /* line 1042, ../scss/style.scss */
  .donorinfo .citydonate, .donorinfo .zip {
    width: 20%;
  }
  /* line 1045, ../scss/style.scss */
  .donorinfo .country {
    display: block;
  }

  /* line 1050, ../scss/style.scss */
  input[type="radio"] {
    width: 3%;
  }

  /* line 1054, ../scss/style.scss */
  .cvv {
    display: inline-block;
    width: 10%;
  }
  /* line 1057, ../scss/style.scss */
  .cvv br {
    display: none;
  }
  /* line 1060, ../scss/style.scss */
  .cvv .cv {
    width: 46%;
  }

  /* line 1066, ../scss/style.scss */
  .payment input {
    width: 30%;
  }
  /* line 1069, ../scss/style.scss */
  .payment .exp {
    width: 10%;
  }

  /* line 1077, ../scss/style.scss */
  .greyboxcontent p, .greyboxcontent a {
    font-size: 1em;
  }

  /** snippet of desktop hp */
  /* line 1087, ../scss/style.scss */
  .cd-hero .cd-slider-nav li {
    width: 3%;
  }

  /* line 1092, ../scss/style.scss */
  .donatehp {
    padding: 0px;
    width: 100%;
    margin-top: 30px;
  }
  /* line 1096, ../scss/style.scss */
  .donatehp p {
    margin-top: 10px;
  }
  /* line 1100, ../scss/style.scss */
  .donatehp a {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* line 1105, ../scss/style.scss */
  .bluestatbox {
    padding: 100px;
  }

  /* line 1109, ../scss/style.scss */
  .news .readmore {
    display: block;
    width: 100%;
  }
}
