/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
@import "compass";


@mixin button{
	text-align: center;
	background: #d45b18;
  	background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  	background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  	background-image: -ms-linear-gradient(top, #d45b18, #be390d);
 	 background-image: -o-linear-gradient(top, #d45b18, #be390d);
 	 background-image: linear-gradient(to bottom, #d45b18, #be390d);
  	-webkit-border-radius: 4;
  	-moz-border-radius: 4;
  	border-radius: 4px;
  	color: #ffffff;
  	text-decoration: none;
    &:hover{
    	opacity: 0.7;
    }
}

$red: #7d3927;
$fontcolor: #49474d;
$grey: #d9d9da;
$orange: #e98300;
$menu: #1e1d1d;
$headerfont: "Charter Bold", Arial, sans-serif;
$blue: #4061a6;


.clearfix {
	position: relative;
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/***** SITE STYLES *************/
/**********************************/


body{
	min-width: 360px;
	color: $fontcolor;
	font-family: "Open Sans", Helvetica, serif;
	p{
		margin: 0px;
	}
}

h1, h2, h3, h4{
	font-family: $headerfont;
	text-transform: uppercase;
}

h2{
	background-image: url("../img/pattern.png");
	background-repeat: repeat-x;
}


.panel {
	z-index: 11000;
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.push {
    position: relative;
}
.content{
	box-shadow: 0 0 10px rgba( 0,0,0, 0.3);
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

#menu{
	background-color: #ccc;
}

.newsearch{
	.tftextinput{
		margin: 0px;
		padding: 5px 15px;
		border: 1px solid $grey; border-right: 0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		width: 120px;
	}
	.tfbutton{
		margin: 0px;
		padding: 5px 15px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		border: 1px solid $grey; border-right: 0px;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		font-size: 1em;
		height: 32px;
		vertical-align: top;
		width: 34%;

	}
	
}



header, .headertexture{
	background-image: url("../img/headerbg.png");
	height: 70px;
	position: relative;
	margin-bottom: 5px;
	// position: fixed;

	a{
		text-decoration: none;
		&:hover{
			color: $blue;
			text-decoration: underline;
		}
	}

	.menu-link{
		background-color: #1e1d1d;
		color: white;
		padding: 10px 20px;
	    position: absolute;
	    top: 10px;
	    left: 15px;
	}

	.prose, .expungement{
		padding: 5px;
		background-color: $orange;
		color: white;
	}

	.expungement{
		position: absolute;
		right: 10px;
	    width: 15%;
	    text-align: center;
	    font-size: 0.7em;
	    top: 10px;
	}

	.prose{
		position: absolute;
		right: 125px;
	    width: 15%;
	    text-align: center;
	    font-size: 0.7em;
	    top: 10px;
	}

}

nav {
	a {
		text-decoration: none;
		color: $fontcolor;
		display: block;
	}
	ul{
		list-style: none;
		padding: 0px;
	}
	li{
		padding: 10px;
		border-bottom: 1px solid #fff;
	}

	// li:hover{
	// 	background-color: $red;
	// }
	a:hover{
		color: $blue;
		text-decoration: underline;
	}
}

h2{
	padding: 10px 0px 10px 25px;
	margin-top: 30px;
}

.header2{
	max-width: 35%;
	// position: relative;
	img{
		width: 100%;
		margin-left: 10px;
		padding: 5px 0px;
		&:hover{
			opacity: 0.5;
		}
	}
	.donatebutton{
		@include button;
	  	font-size: 20px;
	  	padding: 10px 40px 10px 40px;
	  	position: absolute;
	    bottom: 4px;
	    right: 10px;
	    margin-bottom: 5px;
	   
	}

}
/* Mobile Fatherhood*/

.mainpic, .mainpicfamilies, .mainpicdonation{
	background: url( ../img/newpic.jpg );
	background-size: cover;
	background-position: center center;
	width: 100%;
	position: relative;
	margin-top: 5px;
	padding: 16% 0;
	// img{
	// 	width: 100%;
	// 	position: relative;
	// }

	h1{
		// position: absolute;
		// top: 50px;
		text-align: center;
		color: white;
		width: 100%;
		margin: 0px;
		text-shadow: 1px 2px rgba(0,0,0,0.5);
	}
	p{
		// position: absolute;
		text-align: center;
		color: white;
		// bottom: 75px;
		margin-right: 10px;
		margin-left: 10px;
		text-shadow: 1px 2px rgba(0,0,0,0.5);
		padding: 0 15px;
	}
}

.programservices{
	p{
		margin-bottom: 10px;
	}
}

.greybox{
	background-color: $grey;
	padding: 10px 20px 20px 20px;
	img{
		// display: none;
		width: 100%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	article{
		img{
			margin-top: 15px;
		}
	}

	.tablet{
		display: none;
	}

	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;

	}

	a{
		text-decoration: none;
		color: $red;
		&:hover{
			color: $blue;
			text-decoration: underline;
		}
	}

	h3{
		font-weight: lighter;
		margin-bottom: 5px;
	}
	p{
		margin: 0px;
	}
}

.resources{
	margin-bottom: 30px;
	p{
		margin: 0px 0px 15px 0px;
	}

	a{
		text-decoration: none;
		color: $red;
	}
}

.findprogram{
	h4{
		color: white;
		margin: 0px 0px 6px 0px;
	}
	background-image: url("../img/programbg.png");
	padding: 25px 20px;
	margin-top: 30px;
}

.program-nav{
	padding: 5px 0px;
    margin: 0;
    border: 1px solid $grey;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 98% 50%;

	select{
		padding: 5px 8px;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    background-color: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	       -moz-appearance: none;
	            appearance: none;
	    cursor: pointer;
 	}
 	select:focus {
    	outline: none;
	}

	a{
		color: white;
	}
}

.about{
	text-align: center;
	margin-top: 30px;
}

.about2, .email2, .donate{
	display: none;
}



	.donate2{
		margin: 0px;
		vertical-align: bottom;
		text-align: center;
		padding: 30px;
		padding-top: 50px;
		border-top: 2px solid $grey;
		p{
			display: inline-block;
			font-size: 1.5em;
		}
		a{
			@include button;
		  	padding: 15px 40px 15px 40px;
			margin-top: 30px;
			width: 36%;
			display: inline-block;
			&:hover{
		  		opacity: 0.7;
	  		}
		}
	}

	.donatehp{
		padding: 0px;
		width: 100%;
		margin-top: 30px;
		p{
			margin-top: 30px;
		
		}
		a{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}

.email, .email2{
	margin: 0px 25px;


	.emailbutton{
		 background: #f3a139;
		  background-image: -webkit-linear-gradient(top, #f3a139, #d48218);
		  background-image: -moz-linear-gradient(top, #f3a139, #d48218);
		  background-image: -ms-linear-gradient(top, #f3a139, #d48218);
		  background-image: -o-linear-gradient(top, #f3a139, #d48218);
		  background-image: linear-gradient(to bottom, #f3a139, #d48218);
		  -webkit-border-radius: 3;
		  -moz-border-radius: 3;
		  border-radius: 3px;
		  color: #ffffff;
		  padding: 15px 25px 15px 25px;
		  text-decoration: none;
		  font-size: 0.8em;	  
		  display: inline-block;
		  width: 200px;
		  margin-right: 20px;
		  &:hover{
		  	opacity: 0.7;
		  }
	}
	.fb, .twitter{
		display: inline-block;
		width: 45px;
		vertical-align: top;
	}

	.fb{
		margin-right: 10px;
	}

	img{
		width: 100%;

	}
}

.address{
	display: inline-block;
	margin: 0px 25px;
	ul{
		list-style: none;
		padding: 0px;
	}
}

.footer-nav{
	display: inline-block;
    margin-left: 30px;
	li{
		padding: 0px;
		border-bottom: none;
	}
}

.legal{
	margin: 0px 25px;
	margin-top: 15px;
	p{
		margin-bottom: 10px;
		font-size: 0.7em;
	}
}



/***** mobile donation page ************/
/**********************************/


.headertexture{
	height: 30px;
	margin-bottom: 0px;
}
.mainpicdonation{
	background: url("../img/newpic3.jpg");
	margin-top: 0px;
	background-size: cover;
	background-position: center center;
	p{
		font-size: 1.5em;
	}
}

.pageinfo{
	p{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.donation{
	input{
		width: 95%;
		margin: 5px 0px;
	}
	.dollarsign{
		display: inline-block;
	}
}


select{
	width: 100%;
	margin: 5px 0px;
}

input{
	width: 100%;
	margin: 5px 0px;
	height: 20px;
}

input[type="radio"]{
	width: 5%;
	margin: 5px 0px 0px 20px;
}

form{
	p{
		margin-top: 10px;
	}

	.exp{
		width: 75%;
	}
}

.checks{
	p:first-child{
		margin-top: 20px;
	}

	ul{
		list-style: none;
		padding: 0px;
		margin-top: 0px;
	}
}

.emailnewsletter{
	width: 5%;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
  vertical-align: top;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
} 

.ty{
	a{
		color: $red;
		text-decoration: none;
	}

	p{
	margin-bottom: 30px;
	}
}

.submit{
	cursor: pointer;
	background: #d45b18;
  	background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
  	background-image: -moz-linear-gradient(top, #d45b18, #be390d);
  	background-image: -ms-linear-gradient(top, #d45b18, #be390d);
 	 background-image: -o-linear-gradient(top, #d45b18, #be390d);
 	 background-image: linear-gradient(to bottom, #d45b18, #be390d);
  	-webkit-border-radius: 4;
  	-moz-border-radius: 4;
  	border-radius: 4px;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 15px 40px 40px 40px;
  	border: none;
  	margin-top: 30px;
  	 &:hover {
      opacity: 0.7;
   }
}

.payment{
	br{
		display: none;
	}
}

.cd-hero{
	overflow: hidden;

	.cd-hero-slider{
		position: relative;
		width: 300%;
		list-style: none;
		margin: 0;
		padding: 0; 
		left: 0;
		transition: left 0.5s;

		a{
			@include button;
			padding: 10px 15px;
			text-transform: uppercase;
			text-shadow: none;
		}

		&.s1{
			left: 0;
		}

		&.s2{
			left: -100%;
		}

		&.s3{
			left: -200%;
		}
	}

	li{
		width: 33.3333332%;
		background-position: center center;
		background-size: cover;
		float: left;
		position: relative;

		div{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			color: white;
			text-align: center;
			z-index: 10;
			width: 100%;
		    margin: 10% auto;
		    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
		    h1{
		    	margin: 0px;
		    	font-size: 1.5em;
		    }

		}

		img{
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}

	.s1{
	}

	.s2{
	}

	.s3{
	}

	.cd-slider-nav{
		height: 50px;
		background-color: #252525;
		li{
			width: 13%;
			height: 30px;
			// background-color: white;
			margin-right: 28px;
			&:last-child{
				margin-right: 0px;
			}
			img{
				width: 100%;
			}
		}
		nav{
			ul{
				margin: 0 auto;
				width: 50%;
			}
			a{
				&:hover{
					opacity: 0.3;

				}
			}
		}
	}
}
.aboutpicture{
	img{
		width: 100%;
	}
}
.warrenpicture{
	max-width: 100%;
	
}
/** Mobile Fathers & Families **/
.mainpicfamilies{
	background: url(../img/newpic7.jpg);

}

.difference{
	font-weight: bold;
	margin-bottom: 10px;
}
.parentingtag{
	margin-top: 10px;
}

.parentingparagraph{
	margin-bottom: 20px;
	p{
	margin: 0px;
	}
}

.familiespic2{
	max-width: 70%;
	margin-top: 30px;
	img{
		box-shadow: none;
		width: 100%;
	}
}

.familiespic{
	display: none;
}
/**mobile for homepage**/

.bluestatbox{
	background: url(../img/bluebox.jpg);
	padding: 40px 20px 95px 20px;
	position: relative;
	margin-top: 30px;
	h2, h3{
		background: none;
		color: white;
		margin: 0px;
		padding: 0px;
	}
	a{
		text-align: center;
		background: #d45b18;
	  	background-image: -webkit-linear-gradient(top, #d45b18, #be390d);
	  	background-image: -moz-linear-gradient(top, #d45b18, #be390d);
	  	background-image: -ms-linear-gradient(top, #d45b18, #be390d);
	 	 background-image: -o-linear-gradient(top, #d45b18, #be390d);
	 	 background-image: linear-gradient(to bottom, #d45b18, #be390d);
	  	-webkit-border-radius: 4;
	  	-moz-border-radius: 4;
	  	border-radius: 4px;
	  	color: #ffffff;
	  	padding: 5px 40px 5px 40px;
	    text-decoration: none;
	    position: absolute;
	    right: 75px;
	    bottom: 45px;
	    text-transform: uppercase;
	    font-size: 1em;
	    &:hover{
	    	opacity: 0.7;
	    }
	}
	h3{
		margin-top: 10px;
		text-transform: lowercase;
	}
	.number{
		display: inline-block;
		font-size: 1.5em;
	}
}

.news{
	article{
		text-align: right;
		margin-top: 10px;
	}

}
.warrenpicture{
	img{
		width: 100%;
	}
}
.warren{
	text-align: center;
	// img{
	// 	display: block;
	// 	margin: 0 auto;
	// }
	h4{
		margin: 0px;
		margin-top: 10px;
	}

	.participant{
		margin-bottom: 10px;
		font-size: 1.10em;
	}
}
// .quote{
// 	text-align: center;
// 	margin-top: 10px;
// 	font-size: 1.10em;
// }

.address{
	li{
		width: 100%;
	}
}

.contact{
	font-size: 0.7em;
	margin-top: 30px;
}
/* Tablet Fatherhood */

@media (min-width: 600px) {
	h2{
		padding: 10px 0px 10px 45px;
	}
	.greybox{
		img{
			display: inline-block;
			vertical-align: top;
			margin-top: 25px;
			margin-right: 10px;
		}
		article{
			img{
				width: 34%;
			}
		}

		.mobileonly{
			display: none;
		}

		.tablet{
			display: block;
		}
		div{
			display: inline-block;
			width: 63%;
			margin-top: 25px;
		}

		h3{
			margin: 0px;
		}
	}
	header{
		.prose, .expungement{
			width: 10%;
		}
	}
	.header2 {
    	max-width: 25%;
    	.donatebutton{
    		padding: 15px 40px 15px 40px;
    	}
	}

	.mainpic{
		p{
			margin: 0px 20px;
		}
	}

	.findprogram{
		display: block;
		border-left: none;
		padding: 45px 20px;
	}
	// .donate{
	// 	width: 40%;
 //    	display: inline-block;
 //    	margin: 0px 0px 0px -4px;
 //    	border: 2px solid $grey;
 //    	border-left: none;
 //    	border-right: none;
 //    	padding: 6px 14px 25px 30px;
	// 	p{
	// 		display: block;
	// 		margin-bottom: 10px;
	// 	}
	// }


	.about, .email{
		display: none;
	}

	.about2{
		display: block;
		border-bottom: 2px solid $grey;
    	padding: 30px;
    	// padding-top: 41px;
    	vertical-align: top;
    	text-align: center;
	}

	.contact{
		display: block;
		font-size: 0.8em;
		width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		.address{
			width: 50%;
			margin: 0px;
		}
	}

	.legal{
		display: block;
	    margin: 0px;
	    padding: 10px 30px 10px 10px;
	}

	.donation{
		p{
			display: inline-block;
		}
		input{
			width: 10%;
		}
		select{
			width: 43%;
		}
	}

	.additionalinfo{
		select{
			width: 43%;
		}
	}

	.emailbar{
		width: 25%;
	}

	.payment{
		select{
			width: 13%;
		}
		input{
			width: 35%;
		}
		br{
			display: block;
		}

		.cv{
			width: 10%;
		}

		.exp{
			width: 41%;
		}
		.submit{
			margin: 30px auto;
			display: block;
			width: 60%;
		}
	}

	.footer-nav{
		vertical-align: top;
		margin-left: 25px;
		display: inline-block;
	}



	/* tablet homepage8*/


	.news{

		img{
			width: 100%;
			margin-top: 0px;
			margin-bottom: 20px;
		}
		.news1, .news2{
			width: 46%;
			vertical-align: top;
			a, p, h3{
			font-size: 1em;
			}
			h3{
				margin-bottom: 10px;
			}
			
		}
		.news1{
			margin-right: 35px;
		}
		
		.greybox{
			padding: 10px 20px 30px 20px;
		}

	}

	.warren{
		display: inline-block;
		width: 48%;
		vertical-align: top;
		margin: 0px 15px;
	}

	.cd-hero{
		.cd-slider-nav{
			nav{
				ul{
					width: 40%;
				}
			}
			li{
				width: 10%;
				margin-right: 52px;
			}
		}
		li{
			div{
				margin: 13% auto;
				h1{
					font-size: 2em;
					padding: 0px 15px;
				}
				p{
					padding: 0px 15px;
				}
			}
		}
	}


	.aboutcenter{
		width: 40%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.aboutpicture{
		width: 50%;
		display: inline-block;
		margin-left: 45px;
	}
	.warrenpicture{
		width: 40%;
		float: right;
		margin-right: 40px;
		img{
			width: 100%;
		}
	}

.familiespic{
	float: right;
	margin-top: 30px;
	display: block;
	max-width: 70%;
	img{
		box-shadow: none;
		width: 100%;
	}
}


.familiespic2{
	display: none;
}

}

@media (min-width: 700px) {
	.cd-hero{
		.cd-slider-nav{

			li{
				max-width: 30px;
				margin-right: 65px;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}

}



// @media (min-width: 780px) {
// 	.donate{
//     	padding: 28px 40px 25px 30px;
//     }
// }

/* desktop fatherhood */
@media (min-width: 900px) {
	.content {
		max-width: 900px;
		background-color: white;
		margin: 0 auto;
	}
	body{
		background-image: url("../img/background.jpg");
		background-repeat: repeat;
	}

	.header2{
		.donatebutton{
			bottom: 20px;
		}
	}
	.greybox{
		margin-bottom: 30px;
		article{
			display: inline-block;
			width: 32.9%;
    		vertical-align: top;
    		img{
    			width: 85%;
    		}

		}

		p, a, li{
			font-size: .8em;
		}
	}

	footer{
		position: relative;
		border-top: 2px solid $grey;
	}

	.resourcesfooter{
		display: block;
		.texture{
			width: 100%;
		}
		h2{
			margin-top: 0px;
		}
	}
	

	.advertisement{
		p{
			display: inline-block;
		}
	}
	input{
		width: 34%;
		margin: 5px 0px 10px 0px;
	}

	.addressdonate{
		width: 37%;
    	margin: 0px 4px 0px 0px;
	}

	.donorinfo{
		select{
			width: 15%;
		}

		.citydonate, .zip{
			width: 20%;
		}
		.country{
			display: block;
		}
	}

	input[type="radio"]{
		width: 3%;
	}

	.cvv{
		display: inline-block;
		width: 10%;
		br{
			display: none;
		}
		.cv{
			width: 46%;
		}
	}

	.payment{
		input{
			width: 30%;
		}
		.exp{
			width: 10%;
		}
	}

	.footer-nav{
		float: right;
		display: block;
		margin-left: 25px;
	}

	.aboutcenter{
		margin-top: 6%;
	}


	.warren{
		width: 50%;
	}

//* Snippet of Families**//
	.greyboxcontent{
		p, a{
			font-size: 1em;
		}
	}


	.bluestatbox{
		padding: 100px;
		a{
			padding: 15px 45px;
		}
	}
	.news{
		.readmore{
			display: block;
			width: 100%;
		}
	}

	.cd-hero{
		.cd-slider-nav{
			nav{
				ul{
					width: 40%;
				}
			}
			li{
				margin-right: 100px;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
		li{
			div{
				margin: 10% auto;
				h1{
					font-size: 2.5em;
				}
				p{
					font-size: 1.4em;
				}
			}
		}
	}

	.contact{
		display: inline-block;
		width: 43%;
		margin-left: 20px;
	}

	.legal{
		border-left: 2px solid $grey;
		display: inline-block;
		width: 45%;
		margin-top: 30px;
		vertical-align: top;
	}

	.emailnewsletter{
		width: 3%;
	}
	.mainpic, .mainpicfamilies, .mainpicdonation{
		h1{
			font-size: 2.5em
		}
		p{
			font-size: 1.4em;
		}
	}
		
}

